<nav class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <div class="navbar-header">
        <a ui-sref="home" class="navbar-brand">{{vm.navline.title}}</a>
        <a class="btn navbar-btn navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </a>
    </div>
    <div class="navbar-collapse collapse">
      <form class="navbar-form navbar-left" ng-submit="vm.search(keyword);">
        <div class="search-group">
          <i class="mdi-action-search"></i>
          <input ng-model="keyword" type="text" class="form-control" placeholder="Search" />
        </div>
      </form>
    </div>
  </div>
</nav>
