<div ng-controller="ShellController as vm">
    <header class="clearfix">
        <ht-top-nav navline="vm.navline"></ht-top-nav>
    </header>
    <section class="content" id="content">
        <div class="shuffle-animation" ui-view></div>

        <div ngplus-overlay ngplus-overlay-animation="dissolve-animation" ngplus-overlay-delay-in="50" ngplus-overlay-delay-out="700">
            <div class="sk-circle">
                <div class="sk-circle1 sk-child"></div>
                <div class="sk-circle2 sk-child"></div>
                <div class="sk-circle3 sk-child"></div>
                <div class="sk-circle4 sk-child"></div>
                <div class="sk-circle5 sk-child"></div>
                <div class="sk-circle6 sk-child"></div>
                <div class="sk-circle7 sk-child"></div>
                <div class="sk-circle8 sk-child"></div>
                <div class="sk-circle9 sk-child"></div>
                <div class="sk-circle10 sk-child"></div>
                <div class="sk-circle11 sk-child"></div>
                <div class="sk-circle12 sk-child"></div>
            </div>

            <div class="page-spinner-message overlay-message" style="opacity: 0;">{{vm.busyMessage}}</div>
        </div>
    </section>
</div>
